<svg xmlns="http://www.w3.org/2000/svg"
     width="400"
     height="100"
     class="center-block">

  <defs>
    <marker id="Triangle"
            viewBox="0 0 10 10"
            refX="1" refY="5"
            markerWidth="3"
            markerHeight="3"
            stroke="#556270"
            fill="#556270"
            orient="auto">
      <path d="M 0 0 L 10 5 L 0 10 z" />
    </marker>
  </defs>

  <text x="20"
        y="45"
        font-family="Menlo"
        font-size="36px">
    <tspan fill="#333">=></tspan>
    <tspan fill="#FF6B6B">User</tspan>
    <tspan dx="-20">.</tspan>
    <tspan dx="-20" fill="#4ECDC4">all</tspan>
  </text>
  <rect x="86" y="14" width="20" height="36" fill="white" stroke="black" fill-opacity="0" />

  <rect x="174" y="14" width="20" height="36" fill="black" stroke="black" opacity="0.5" />
  <polyline fill="none" stroke="#556270" stroke-width="3" points="96,60 96,70 184,70 184,60" marker-end="url(#Triangle)" />
  <text x="110" y="100" fill="#556270" font-family="Menlo" font-size="32px">M-f</text>
  <text x="280" y="45" font-family="Menlo" font-size="32px">😊</text>
</svg>
