// -*- less-css-compile-at-save: t; less-css-output-directory: "../css" -*-

@import "bootstrap/bootstrap.less";
@import "bootswatch.less";
@import "variables.less";

@import url(http://fonts.googleapis.com/css?family=Montserrat);

.header {
  text-align: center;
  padding-top: 80px;
  margin-bottom: 80px;
  padding-bottom: 80px;
  border-bottom: 3px solid @gray-lighter;

  img.avatar {
    width: 60px;
  }

  a {
    color: @text-color;
  }

  .title {
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 24px;

    a {
      &:hover {
        text-decoration: none;
      }
    }
  }

  .buttons {
    width: 200px;
    font-size: 18px;

    a {
      margin: 0 5px;

      .fa-rss {
        color: #FF6B6B;
        &:hover { color: darken(#FF6B6B, 20%); }
      }
      .fa-twitter {
        color: #4ECDC4;
        &:hover { color: darken(#4ECDC4, 20%); }
      }
      .fa-github {
        color: #556270;
        &:hover { color: darken(#556270, 20%); }
      }
      .fa-envelope {
        color: #C44D58;
        &:hover { color: darken(#C44D58, 20%); } 
      }
    }
  }
}

.post {
  margin-bottom: 50px;
  text-align: center;

  a { text-decoration: none; }

  .title {
    margin-top: 10px;
  }

  .summary {
    margin-top: 30px;
  }
}

time {
  font-family: @font-family-sans-serif;
  text-transform: uppercase;
  color: @gray-light;
}

.border {
  width: 50%;
  border-bottom: 1px solid @gray-lighter;
  margin-bottom: 50px;
}

.post-title {
  .title { margin-top: 10px; }
  margin-bottom: 40px;
  text-align: center;

  color: @brand-complimentary;
}

#disqus_thread {
  margin-top: 60px;
}

svg {
  margin: 15px 0;
}

.highlight {
  padding-top: 10px;
  padding-bottom: 10px;

  pre {
    background-color: @gray-darker;
  }

  .bash { color: @brand-secondary; }
}