// -*- less-css-compile-at-save: t; less-css-output-directory: "../css" -*-

@import "bootstrap/bootstrap.less";
@import "bootswatch.less";
@import "variables.less";

@import url(http://fonts.googleapis.com/css?family=Ubuntu);

.header {
  margin-top: 100px;
  margin-bottom: 35px;
  text-transform: uppercase;
  font-size: 14px;

  .col-lg-8 {
    padding-left: 0;
  }

  a.title {
    padding: 5px 10px 6px;
    color: white;
    text-decoration: none;
    background: @heading-title;
    float: left;
    display: block;

    &:hover {
      background: @dark;
    }
  }
}

.row.post-header {
  text-align: center;
  text-transform: uppercase;

  h1 {
    font-size: 52px;
    font-weight: 700;
    margin: 15px 0;
  }

  time {
    color: @gray;
    font-weight: 600;
    font-size: 14px;
    margin: 25px 0;

    &:after {
      content: "";
      margin: 40px auto 0;
      width: 100px;
      border-bottom: 1px dotted @gray-light;
      display: block;
    }
  }
}

a.button-square {
  text-decoration: none;
  background: @heading-btn;
  color: white;
  margin: 0 0 0 10px;
  float: left;
  padding: 0 10px;
  font-size: 20px;

  &:hover {
    background: @dark;
  }
}

.content {
  border-top: 6px solid @dark;
  padding-top: 35px;
  margin-top: 80px;

  a.post-header {
    border-bottom: 1px dotted @dark;
    padding: 20px 5px;
    display: block;
    text-decoration: none;
    color: @brand-primary;

    &:hover {
      color: black;
      background: @emph-bg;
    }

    h4 {
      font-size: 18px;
      margin-bottom: 18px;
      display: inline-block;
      margin: 0;
    }

    time {
      color: @gray-light;
      display: inline-block;

      &:before {
        content: "/ ";
      }
    }
  }

  p {
    margin-bottom: 30px;
  }

  h3 {
    font-weight: bold;
    margin: 20px 0 30px;
  }
}

#disqus_thread {
  margin-top: 60px;
}

svg {
  margin: 15px 0;
}

.highlight {
  padding-top: 10px;
  padding-bottom: 10px;

  .bash { color: @gray-lighter; }
}