---
layout: default
---
<body>
  <div class="container">
    {% include index_header.html %}
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 content">
        {% for post in site.posts %}
        <div class="row">
          <a class="post-header" href="{{ post.url }}">
            <h4>{{ post.title }}</h4>
            <time class="date" datetime="{{ post.date }}">{{ post.date | date: "%d %B %Y" }}</time>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</body>
