<div class="row">
  <div class="col-lg-8 col-lg-offset-2 header">
    <img src="/assets/avatar.jpg" alt="jafrog" class="img-circle center-block avatar" />
    <h1 class="title center-block">
      <a href="/">Jafrog's dev blog</a>
    </h1>
    <div class="buttons center-block">
      <a class="button-square" href="/atom.xml"><i class="fa fa-rss"></i></a>
      <a class="button-square" href="http://www.twitter.com/jafrog"><i class="fa fa-twitter"></i></a>
      <a class="button-square" href="http://www.github.com/jafrog"><i class="fa fa-github"></i></a>
      <a class="button-square" href="mailto:irina.bednova@gmail.com"><i class="fa fa-envelope"></i></a>
    </div>

  </div>
</div>
