<!DOCTYPE HTML>
<head>
  <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/css/pygments.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/css/font-awesome.css" type="text/css" media="screen" />

  <!-- Google analytics -->
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-30366699-2']);
    _gaq.push(['_trackPageview']);

    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

  <title>Jafrog's dev blog</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <div class="page-header">
            <div class="center-block header">
              <img src="/assets/avatar.jpg" class="avatar img-circle" />
              <h1><a href="/">Jafrog's dev blog</a></h1>
              <h4>
                <a href="/atom.xml"><i class="fa fa-rss"></i></a>
                <!-- &ndash; -->
                &bull;
                <a href="http://www.twitter.com/jafrog"><i class="fa fa-twitter"></i></a>
                <!-- &ndash; -->
                &bull;
                <a href="http://www.github.com/jafrog"><i class="fa fa-github"></i></a>
                <!-- &ndash; -->
                &bull;
                <a href="mailto:irina.bednova@gmail.com"><i class="fa fa-envelope"></i></a>
              </h4>
          </div>
        </div>
        {{content}}
      </div>
    </div>
  </div>
</body>
